@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@400;500&family=Montserrat:ital,wght@0,500;1,400&family=Poppins:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    font-family: 'Encode Sans Condensed', sans-serif;
}

#welcome-section{
    height: 100vh;
    width: 100vw;
background-color: #545EBC;
padding-top: 80px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0 auto;
}

#nav-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    align-items: right;
    background-color: #7B85DF;
    width: 100vw;
    height:70px;
    font-size: 35px;
    position: fixed;
    top: 0;
}

#nav-bar ul li{
    margin-top: 12px;
    margin-right: 40px;
text-decoration: none;
cursor: pointer;
color: black;
list-style-type: none;

}

#welcome-section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
color: #D1C2FF;
font-size: 45px;
}
 #nav-bar a{
    text-decoration: none;
}

 #nav-bar ul li:hover{
    color: white;
    transform: scale(1.1);
}

#projects{
    height: 100vh;
    width: 100vw;
    background-color: #BBFFE2;
}

#welcome-section p{
    font-size: 200px;
    display: inline-block;
    justify-content: center;
    padding-top: 80px;
    color: white;
text-align: center;
padding-bottom: 200px;
}
#welcome-section a{
    text-decoration: none;
    color: white;

}
#welcome-section p:hover{
color: black;
transform: scale(1.1);
}
/*----------------------------------------------------------------------------------------*/

#projects{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#tiles{
   
    width: 400px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);

}

#project1{
    max-width: 450px;
    max-height: 500px;
}

#project2{
    max-width: 300px;
    max-height: 450px;
}


#projects {
    position: relative;
    gap: 90px;
}

#projects h2 {
    position: absolute;
    top: 0;
    padding-top: 25px;
    padding-bottom: 0px;
    font-size: 50px;
    letter-spacing: 3px;
}

#see-all-button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    height: 25px;
    margin: 20px auto;
    text-align: center;
}

#see-all-button button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: green;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color: white;
}
#see-all-button button:hover{
    background-color: #BBFFE2;
    color: black;
   font-size: 20px;
}


#project1, #project2 {
 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

#project1 img:hover, #project2 img:hover {
    transform: scale(1.1);
}





@media{
    
}